/*Aquí inicia el CSS para header*/
body{
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #83f3f7;
    padding: 20px 0;
}

.contenedorHeader{
    width: 940px;
    position: relative;
    margin: 0 auto;
    display: flex;
	align-items: center;
	justify-content: space-between;
}

h1{
    display:inline;

}

#img_1{
    max-height: 56px;
    max-width: 100px;
    vertical-align: middle;
}

fieldset{
    border: none;
}

.input {
	padding: 10px;
}

.button {
	background-color: rgba(73,101,135,1);
	color: #FFF;
	cursor: pointer;
}

.input, .button {
	outline: 0;
	border: 1px solid rgba(73,101,135,1);
	box-sizing: border-box;
	font-size: 16px;
    border-radius: 5px;
}


/*Aquí inicia el CSS para contenido*/

.contenido {
	width: 940px;
    position: relative;
    margin: 0 auto;
    align-items: center;
    padding: 20px;
}

.tituloPrincipal {
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
	text-align: center;
}

.contenidoPrincipal{
    display: flex;
	flex-wrap: wrap;
    padding: 0%;
}
.contenidoPrincipal li{
    display: flex;
    text-align:left;
    width: 23%;
    vertical-align: top;
    margin: 1%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 5px;
	border: 1px solid #9799A6;
}

.contenidoPrincipal img{
    max-height: 70px;
    max-width: 150px;
    vertical-align: top;
    border-radius: 30px;
    width: 30%;

}
.contenidoPrincipal div{
    padding-left: 10%;
    width: 60%;
}

.contenidoPrincipal li:hover {
	background-color:  #f2f2f2ec;
}

.contenidoPrincipal li:active{
	background-color:  #f2f2f2ec;
}


/*Aquí inicia el CSS para footer*/

footer{
    text-align: center;
    background-color:  #83f3f7;
    padding:40px;
}

.copyright{
    color: #000000;
    font-size: 13px;
    margin:20px;
}


/*Aquí responsivo*/
@media(max-width: 768px) {
    .contenedorHeader{
        flex-direction: column;
		align-items:center;
        justify-content:center;
    }
    
    .tituloPrincipal{
        text-align: center;
    }
    .contenidoPrincipal {
		flex-direction: column;
        align-items:center;
        width: auto;
        justify-content:center;
	}
    
    .contenidoPrincipal li{
        flex-direction: column;
        align-items:center;
    }
    
}

